<div class="question-holder" id="data-question-<%= question.id %>">

  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#data-<%= question.id %>" style="text-decoration:none;">
    <div style="font-family: 'Open Sans'; font-size: 12px; color: $blue; margin: 10px 0px;">Q:&nbsp<%= question.question.upcase %></div>
  </button>

  <div id="data-<%= question.id %>" class="collapse" data-parent="#data-question-<%= question.id %>">

    <div  class="card-body" id="answers">
      <% if question.answers.blank? %>
          <div id="no_answer" style="font-family: 'Open Sans'; font-size: 12px; color: #4A4A4A;"> No answers for this question yet </div>
      <% else %>
        <% question.answers.each do |answer| %>
        <%= render 'questions/answers', answer: answer %>
        <% end %>
      <% end %>
    </div>
    <%= render 'questions/answer_form', question: question, answer: Answer.new %>

  </div>

</div>
