<div class="card-header p-2" id="data-question-<%= question.id %>">

  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#data-<%= question.id %>" >
    <div>Q:&nbsp<%= question.question %></div>
  </button>

  <div id="data-<%= question.id %>" class="collapse" data-parent="#data-question-<%= question.id %>">

    <div  class="card-body p-4" id="answers">
      <% if question.answers.blank? %>
          <p id="no_answer"> No answers for this question yet </p>
      <% else %>
        <% question.answers.each do |answer| %>
        <%= render 'questions/answers', answer: answer %>
        <% end %>
      <% end %>
    </div>
    <%= render 'questions/answer_form', question: question, answer: Answer.new %>

  </div>

</div>
