<% def change_condition_name(condition) %>
  <% if condition == "bad" %>
    <% "BAD" %>
  <% elsif condition == "average" %>
    <%= "DECENT" %>
  <% elsif condition == "good" %>
    <%= "FRESH SNOW" %>
  <% else %>
    <%= "POWDER DAY" %>
  <% end %>
<% end %>

<% day_after = (Time.now + 2.day).strftime("%A")%>
<% two_days_after = (Time.now + 3.day).strftime("%A")%>
<% days = ["Today", "Tomorrow", day_after, two_days_after ] %>


<div class="container col-6">

  <div class="resort-info-header mt-4">MY INFO</div>
  <div id="profile">
    <div id="profile-left-side">
      <%= image_tag "sam.jpg", alt: "Profile Photo", class:"img-thumbnail", id: "sam" %>
    </div>
    <div id="profile-right-side" style="display: flex; flex-direction: column; font-family: 'Open Sans'; color: #4A4A4A">
      <div class="mb-1"><strong>Name:&nbsp&nbsp</strong> <%= current_user.first_name.present? ? current_user.first_name : "Sam" %></div>
      <div><strong>About:&nbsp&nbsp</strong> <%= current_user.about.present? ? current_user.about : "Programmer, Snowboarder" %> </div>
    </div>
  </div>

  <div class="resort-info-header">FAVORITE RESORTS</div>
    <div id="day-row">
      <% days.each_with_index do |day, index| %>
        <div id="day-row-item"><strong><%= days[index].upcase %></strong></div>
      <% end %>
    </div>
    <ul style="list-style-type: none; padding: 0px 20px; margin: 0px 0px 20px 0px;">
      <% @favorites.each do |favorite| %>
        <li>
          <div style="display: flex; justify-content: space-between; align-items: center">
            <div style="width: 250px; text-align: right; padding-right: 30px"><%= link_to favorite.resort.name, resort_path(favorite.resort), style: "text-decoration: none; font-family: 'Covered By Your Grace'; font-size: 24px; color: #04507C; " %></div>
            <div class="favorites-summary-card-layout" style="flex-grow: 0; width: 400px">
              <% favorite.resort.forecasts.each.with_index do |forecast, index| %>
                <div class="popup-summary-card" id="<%= forecast.condition %>">
                    <div style="font-size: 10px"> <%= change_condition_name(forecast.condition) %> </div>
                  <div class="invisible" id="<%= forecast.condition %>-body">
                    <div class="forecast-condition-footer"></div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>

  <div class="resort-info-header">QUESTIONS & ANSWERS</div>

    <% @favorites.each do |favorite| %>
      <% if favorite.resort.questions.any? %>

          <% favorite.resort.questions.each_with_index do |question, index| %>
            <div class="resort-info-block justify-content-center " id="data-question-<%= question.id %>">

              <p><strong>Resort: <%= favorite.resort.name %> - Q<%= index+1 %>:</strong>
              <%= question.question %>
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#data-<%= question.id %>" >
                  <span class=" map-button "><strong><%=question.answers.count %> answers </strong></span>
                </button>
              </p>

              <div id="data-<%= question.id %>" class="collapse" data-parent="#data-question-<%= question.id %>">
                <div  class="resort-info-block" id="answers">
                    <% question.answers.each_with_index do |answer, index| %>
                      <ul><%= render 'questions/answers', answer: answer, index: index %></ul>
                    <% end %>
                </div>
              </div>

            </div>
          <% end %>
      <% end %>
    <% end %>

</div>
