<% def change_condition_name(condition) %>
  <% if condition == "bad" %>
    <% "BAD" %>
  <% elsif condition == "average" %>
    <%= "DECENT" %>
  <% elsif condition == "good" %>
    <%= "FRESH SNOW" %>
  <% else %>
    <%= "POWDER DAY" %>
  <% end %>
<% end %>

<% day_after = (Time.now + 2.day).strftime("%A")%>
<% two_days_after = (Time.now + 3.day).strftime("%A")%>
<% days = ["Today", "Tomorrow", day_after, two_days_after ] %>


<div class="container col-6 my-4">

  <div class="resort-info-header">MY INFO</div>
  <div id="profile">
    <div id="profile-left-side">
      <%= image_tag "sam.jpg", alt: "Profile Photo", class:"img-thumbnail", id: "sam" %>
    </div>
    <div id="profile-right-side" style="display: flex; flex-direction: column; font-family: 'Open Sans'; color: #4A4A4A">
      <div class="mb-1"><strong>Name:&nbsp&nbsp</strong> <%= current_user.first_name.present? ? current_user.first_name : "Sam" %></div>
      <div><strong>About:&nbsp&nbsp</strong> <%= current_user.about.present? ? current_user.about : "Programmer, Snowboarder" %> </div>
    </div>
  </div>

  <div class="resort-info-header">FAVORITE RESORTS</div>
<!--     <div id="day-row">
      <%# days.each_with_index do |day, index| %>
        <div id="day-row-item"><strong><%#= days[index].upcase %></strong></div>
      <%# end %>
    </div> -->
    <ul style="list-style-type: none; padding: 0px 20px; margin: 0px 0px 20px 0px;">
        <li style="display:flex;">
          <div style="width: 40%"></div>
          <div style="width: 60%; display: flex;" id="day-row">
            <% days.each_with_index do |day, index| %>
              <div style="width: 25%; text-align: center;">
                <strong><%= days[index].upcase %></strong>
              </div>
            <% end %>
          </div>
        </li>
      <% @favorites.each do |favorite| %>
        <li>
          <div style="display: flex; justify-content: space-between; align-items: center">
            <div style="width: 40%; text-align: right; padding-right: 30px"><%= link_to favorite.resort.name, resort_path(favorite.resort), style: "text-decoration: none; font-family: 'Covered By Your Grace'; font-size: 24px; color: #04507C; " %></div>
            <div class="favorites-summary-card-layout" style="flex-grow: 0; width: 400px">
              <% favorite.resort.forecasts.each.with_index do |forecast, index| %>
                <div class="popup-summary-card" id="<%= forecast.condition %>">
                    <div style="font-size: 10px"> <%= change_condition_name(forecast.condition) %> </div>
                  <div class="invisible" id="<%= forecast.condition %>-body">
                    <div class="forecast-condition-footer"></div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>

  <div class="resort-info-header">QUESTIONS & ANSWERS</div>

    <div style="padding: 0px 30px">
      <% if current_user.questions.any? %>
        <% current_user.questions.each do |question| %>
          <div class="resort-info-block justify-content-center " id="data-question-<%= question.id %>">
            <div style="font-family: 'Covered By Your Grace'; font-size: 24px; color: #04507C;"><%= question.resort.name %></strong></div>
            <div style="display: flex; align-items: center; margin-bottom: 20px; width: 500px; justify-content: space-between;">
              <div style="font-family: 'Open Sans'; font-size: 14px; color: #4A4A4A; margin-left: 20px">&nbsp&nbsp<%= question.question %></div>
              <button class="map-button btn-link collapsed" type="button" data-toggle="collapse" data-target="#data-<%= question.id %>" >
                <span><%=question.answers.count %> <%= (question.answers.none? || question.answers.count > 1) ? "answers" : "answer" %></span>
              </button>
            </div>

            <div id="data-<%= question.id %>" class="collapse" data-parent="#data-question-<%= question.id %>">
              <% question.answers.each do |answer| %>
                <div style="font-family: 'Open Sans'; font-size: 14px; color: #04507C; margin-left: 60px; margin-bottom: 20px"><%= answer.answer.capitalize %></div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= "You haven't asked any questions!" %>
      <% end %>
    </div>

</div>
