
function refreshAnswerForm(innerHTML) {
  const newAnswerForm = document.querySelector('#data-<%= @question.id %> #new_answer');
  newAnswerForm.innerHTML = innerHTML;
}

function addAnswer(reviewHTML) {
  const answers = document.querySelector("#data-<%= @question.id %> #answers");
  answers.insertAdjacentHTML('beforeend', reviewHTML);
}

function changeTitle() {
  const title = document.querySelector('#data-<%= @answer.question.id %> #no_answer');
  title.innerHTML = "";

}

<% if @answer.errors.any? %>
  refreshAnswerForm('<%= j render "questions/answer_form", question: @question, answer: @answer %>');
<% else %>
  addAnswer('<p> <%= @answer.question.answers.length %>: <%= @answer.answer %> </p> ');
  refreshAnswerForm('<%= j render "questions/answer_form", question: @question, answer: Answer.new %>');
  changeTitle();
<% end %>