<div class="container col-8" data-controller="itinerary">

  <div class="resort-info-header mt-4 mb-3">DETAILED DIRECTIONS</div>
    <div style="display: flex; justify-content: center">
      <div class='map-button mb-3' style="width:300px"; data-markers="<%= @resort.to_json %>" data-action="click->itinerary#googleLink">Prefer the train?</div>
    </div>
    <div id="itinerary-map-holder">
      <div id="itinerary-map" data-controller="itinerary" data-action="google-maps-callback@window->itinerary#initMap" data-markers="<%= @resort.to_json %>"></div>
      <div id="right-panel"></div>
    </div>

  <div class="resort-info-header mt-4">CALCULATE TRIP COST</div>
    <%= render 'pages/itinerary_calc', resort: @resort %>

  <div class="resort-info-header">SEND ITINERARY</div>
    <div style="display: flex; justify-content: center">
      <div class="col-8">
        <div class="send-form">
          <form>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
              <div class="send-itinerary"><%= link_to "SEND", resort_path, class:"itinerary-button" %></div>
          </form>
        </div>
      </div>
    </div>

</div>

<script>

  window.dispatchMapsEvent = function(...args) {
    const event = document.createEvent("Events")
    event.initEvent("google-maps-callback", true, true)
    event.args = args
    window.dispatchEvent(event)
  }

</script>

<script async defer
    src='https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_SERVER_KEY'] %>&callback=dispatchMapsEvent'>
    </script>



