<!-- <ul id="mountain">
  <li class="top">
    <div class="value"><%= @resort.top_elevation%> M</div>
    <div class="label">Top</div>
  </li>
  <li class="drop">
    <div class="value"><%= @resort.top_elevation - @resort.bottom_elevation %> M</div>
    <div class="label">Drop</div>
  </li>
  <li class="bottom">
    <div class="value"><%= @resort.bottom_elevation %> M</div>
    <div class="label">Bottom</div>
  </li>
</ul> -->

<div class="resort-info-items">
  <div class="resort-summary-card">
    <h1>TOP</h1>
    <h2><%= @resort.top_elevation %>m</h2>
  </div>

  <div class="resort-summary-card">
    <h1>BOTTOM</h1>
    <h2><%= @resort.bottom_elevation %>m</h2>
  </div>

  <div class="resort-summary-card">
    <h1>DROP</h1>
    <h2><%= @resort.top_elevation - @resort.bottom_elevation %>m</h2>
  </div>
</div>
