<% day_after = (Time.now + 2.day).strftime("%A")%>
<% two_days_after = (Time.now + 3.day).strftime("%A")%>
<% days = ["Today", "Tomorrow", day_after, two_days_after ] %>

<% def change_condition_name(condition) %>
  <% if condition == "bad" %>
    <% "BAD" %>
  <% elsif condition == "average" %>
    <%= "DECENT" %>
  <% elsif condition == "good" %>
    <%= "FRESH SNOW" %>
  <% else %>
    <%= "POWDER DAY" %>
  <% end %>
<% end %>

<% resort.forecasts.each.with_index do |forecast, index| %>
  <div class="summary-card" id="<%= forecast.condition %>">
    <h1> <%= days[index].upcase %> </h1>
    <h2> <%= change_condition_name(forecast.condition) %> </h2>
  <div id="<%= forecast.condition %>-body">
    <div class="forecast-condition-header">
      <p><i class="fas fa-snowflake"></i> <b> <%= forecast.snow_amount.round %></b><small> cm</small></p>
      <p><i class="fas fa-cloud-rain"></i> <%= forecast.rain.round %><small> cm</small></p>
    </div>
    <div class="forecast-condition-footer mt-3 mb-1" style="border-top: 1px solid white; padding-top: 10px; display: flex; flex-direction: column; font-size: 10px">
      <div style="display: flex; justify-content: center; justify-content: space-evenly">
        <div style="width: 100px"><%= forecast.max_temperature %>&#176; max <i class="fas fa-temperature-high"></i></div>
        <div style="width: 100px"><i class="fas fa-wind"></i> <%= forecast.wind_speed %> km/h</div>
      </div>
      <div style="display: flex; justify-content: center; justify-content: space-evenly">
        <div style="width: 100px"><%= forecast.min_temperature %>&#176; min <i class="fas fa-temperature-low"></i></div>
        <div style="width: 100px"><i class="far fa-compass"></i></i> <%= forecast.wind_direction %></div>
      </div>
    </div>
  </div>
  </div>
<% end %>

