<div data-controller="popup">
  <div class="popup-header">
    <hr>
    <div class="resort-name"><%= resort.name %></div>
    <div class="resort-address"><%= resort.town %>, <%= resort.prefecture %></div>
    <div class="resort-snow">Snow Depth: <%= snow_depth %> cm</div>
    <div class="resort-change">Snow Change: <%= (snow_change > 0) ? snow_change : "0" %> cm</div>
    <hr>
  </div>

  <% day_after = (Time.now + 2.day).strftime("%A")%>
  <% two_days_after = (Time.now + 3.day).strftime("%A")%>
  <% days = ["Today", "Tomorrow", day_after, two_days_after ] %>
  <div class="overview">
    <h1>Riding Conditions:</h1>
    <% resort.forecasts.each.with_index do |forecast, index| %>
      <div id="<%= forecast.condition %>">
        <p> <%= days[index] %>: <%= forecast.condition.capitalize %> </p>
      </div>
    <% end %>
  </div>
  <% favorited = current_user.resorts.include?(resort) %>
  <div>
    <i data-target="popup.heart" class="fas fa-heart button-favorite <%= favorited ? 'red' : '' %>" id="heart" style="text-decoration:none" data-action="click->popup#favorite" data-value="<%= resort.id %>" data-favorited="<%= favorited %>"></i>
  </div>
  <div>
    <p><span data-target="popup.count"><%= resort.favorites.count %></span> users like this resort!</p>
  </div>
  <div class="my-1">
    <%= link_to 'Check it out!', resort_path(resort), style: 'text-decoration:none'%>
  </div>
  <div>
    <p>Travel time: <span data-target="popup.output" data-value="<%= resort.longitude %>, <%= resort.latitude %>"></span></p>
  </div>
</div>


    <%# if current_user.resorts.include?(resort) %>
      <%#= link_to '<i class="fas fa-heart"></i> Remove from favorites!'.html_safe, resort_delete_favorite_path(resort), method: 'DELETE', class: 'button-favorite', id: 'heart', style: 'text-decoration:none', data: { action: 'click->slider#toggleRed' } %>
    <%# else %>
      <%#= link_to '<i class="fas fa-heart"></i> Add to favorites!'.html_safe, resort_favorites_path(resort), method: 'POST', class: 'button-favorite red', id: 'heart', style: 'text-decoration:none', data: { action: 'click->slider#toggleRed' } %>
    <%# end %>
