<div data-controller="popup">
  <div class="popup-header">
    <hr>
    <div class="resort-name"><%= resort.name %></div>
    <div class="resort-address"><%= resort.town %>, <%= resort.prefecture %></div>
    <div class="resort-snow"><%= resort.town %>, <%= resort.prefecture %></div>
    <hr>
  </div>
  <% favorited = current_user.resorts.include?(resort) %>
  <div>
    <i data-target="popup.heart" class="fas fa-heart button-favorite <%= favorited ? 'red' : '' %>" id="heart" style="text-decoration:none" data-action="click->popup#favorite" data-value="<%= resort.id %>"></i>
  </div>
  <div>
    <p><span data-target="popup.count"><%= resort.favorites.count %></span> users like this resort!</p>
  </div>
  <div class="my-1">
    <%= link_to 'Click here for more details!', resort_path(resort), style: 'text-decoration:none'%>
  </div>
  <div>
    <p>Travel time: <span data-target="popup.output" data-value="<%= resort.longitude %>, <%= resort.latitude %>" data-favorited='<%= favorited %>'></span></p>
  </div>
</div>


    <%# if current_user.resorts.include?(resort) %>
      <%#= link_to '<i class="fas fa-heart"></i> Remove from favorites!'.html_safe, resort_delete_favorite_path(resort), method: 'DELETE', class: 'button-favorite', id: 'heart', style: 'text-decoration:none', data: { action: 'click->slider#toggleRed' } %>
    <%# else %>
      <%#= link_to '<i class="fas fa-heart"></i> Add to favorites!'.html_safe, resort_favorites_path(resort), method: 'POST', class: 'button-favorite red', id: 'heart', style: 'text-decoration:none', data: { action: 'click->slider#toggleRed' } %>
    <%# end %>
