
  <div data-controller="popup" >
    <div class="like" style="border: 1px solid black">
      <% favorited = current_user.resorts.include?(@resort) %>
      <div><i data-controller="popup" data-target="popup.heart" class="fas fa-heart button-favorite <%= favorited ? 'red' : '' %>" id="heart" style="text-decoration:none" data-action="click->popup#favorite" data-value="<%= resort.id %>" data-favorited="<%= favorited %>"></i></div>
    </div>
    <div class="popup-header">
      <h1><%= resort.name.titlecase %></h1>
      <div class="resort-address"><%= resort.town %>, <%= resort.prefecture %></div>
      <div class="resort-snow">Snow Depth: <%= snow_depth %> cm</div>
    </div>

<!--     <div>
      <p>Travel time: <span data-target="popup.output" data-value="<%= resort.longitude %>, <%= resort.latitude %>"></span></p>
    </div> -->

    <% day_after = (Time.now + 2.day).strftime("%A")%>
    <% two_days_after = (Time.now + 3.day).strftime("%A")%>
    <% days = ["Today", "Tomorrow", day_after, two_days_after ] %>


<%= link_to resort_path(resort) do %>
    <div class="summary-items-popup">
      <% resort.forecasts.each.with_index do |forecast, index| %>
        <div class="popup-summary-card" id="<%= forecast.condition %>">
          <h4> <%= days[index].upcase %> </h4>
          <div id="<%= forecast.condition %>-body">
          <div class="forecast-condition-footer">
            <div style="font-size: 12px"> <%= forecast.condition.to_s.upcase %> </div>
          </div>
        </div>
        </div>
      <% end %>
    </div>
<% end %>

  </div>


