<div data-controller="slider">
  <div class="popup-header">
    <hr>
    <div class="resort-name"><%= resort.name %></div>
    <div class="resort-address"><%= resort.town %>, <%= resort.prefecture %></div>
    <hr>
  </div>
  <div>
    <%= link_to '<i class="fas fa-heart"></i> Add to favorites!'.html_safe, resort_favorites_path(resort), method: 'POST', class: 'button-favorite', style: 'text-decoration:none' %>
    <p><%= resort.favorites.count %> users like this resort!</p>
  </div>
  <div class="my-1">
    <%= link_to 'Click here for more details!', resort_path(resort), style: 'text-decoration:none'%>
  </div>
  <div>
    <p>Travel time: <span data-target="slider.output" data-value="<%= resort.longitude %>,<%= resort.latitude %>"></span></p>
  </div>
</div>