<% def change_condition_name(condition) %>
  <% if condition == "bad" %>
    <% "BAD" %>
  <% elsif condition == "average" %>
    <%= "DECENT" %>
  <% elsif condition == "good" %>
    <%= "FRESH SNOW" %>
  <% else %>
    <%= "POWDER DAY" %>
  <% end %>
<% end %>

  <div class="popup-header">
    <h1><%= resort.name.titlecase %></h1>
    <div data-controller="popup" >
    <% favorited = false %>
    <% current_user.favorites.each do |favorite| 
    favorited = (resort.favorites.include?(favorite))||favorited 
    end %>

      <div style="font-size: 20px; margin-left: 16px; margin-bottom: 8px;"><i data-controller="popup" data-target="popup.heart" class="fas fa-heart button-favorite <%= favorited ? 'red' : '' %>" id="heart" style="text-decoration:none" data-action="click->popup#favorite" data-value="<%= resort.id %>" data-favorited="<%= favorited %>"></i></div>
    </div>
  </div>

    <div style="padding: 4px 0px; display: flex; justify-content: center; align-items: center; font-size: 12px; color: #4A4A4A">
      <div style="margin-right: 10px"><%= resort.town %>,&nbsp<%= resort.prefecture %></div>
      <div>&nbsp|&nbsp</div>
      <div style="margin-left: 10px;"><strong><%= snow_depth %></strong>&nbspcm of snow</div>
<!--       Travel time: <span data-target="popup.output" data-value="<%= resort.longitude %>, <%= resort.latitude %>"></span> -->
    </div>

    <% day_after = (Time.now + 2.day).strftime("%A")%>
    <% two_days_after = (Time.now + 3.day).strftime("%A")%>
    <% days = ["Today", "Tomorrow", day_after, two_days_after ] %>


<%= link_to resort_path(resort) do %>
    <div class="summary-items-popup">
      <% resort.forecasts.each.with_index do |forecast, index| %>
        <div class="popup-summary-card" id="<%= forecast.condition %>">
          <h4> <%= days[index].upcase %> </h4>
          <div id="<%= forecast.condition %>-body">
          <div class="forecast-condition-footer">
            <div style="font-size: 11px"> <%= change_condition_name(forecast.condition) %> </div>
          </div>
        </div>
        </div>
      <% end %>
    </div>
<% end %>

  </div>


