<<<<<<< HEAD
<div id="questions_answers">
  <h5> Following are <%= @resort.questions.count %> nos of questions for <%= @resort.name %>: </h5>
  <%= render 'questions/question_form', resort: @resort, question: @question %>
  <%= render 'questions/question', resort: @resort, question: @question, answer: @answer %>
</div>
=======

  <div id="questions_answers">

    <% if @resort.questions.blank? %>
        Be the first to ask a questiion for <%= @resort.name %>
        <%= render 'questions/question_form', resort: @resort, question: @question %>
    <% else %>

        <div class="container py-3">
          <div class="row">
              <div class="col-10 mx-auto">
                <h5> Following are <%= @resort.questions.count %> nos of questions for <%= @resort.name %>: </h5>
                <%= render 'questions/question_form', resort: @resort, question: @question %>
                  <div class="accordion" id="faqExample">

                      <div class="card">
                          <div class="card-header p-2" id=":question_id">
                              <h5 class="mb-0">
                                  
                                    <div id="questions">
                                      <% @resort.questions.each_with_index do |question, index| %>
                                        <%= render 'questions/index', question: question, index: index, answer: @answer%>

                                        <div id="collapseThree" class="collapse" data-parent="#faqExample">
                                              <div class="card-body">
                                              <div id="answers">
                                                  <% if question.answers.blank? %>
                                                      <p> No answers for this question yet </p>
                                                  <% else %>
                                                    <% question.answers.each_with_index do |answer, index| %>
                                                    <%= render 'questions/answers', answer: answer, index: index %> 
                                                    <% end %>
                                                  <% end %>
                                                  <%= render 'questions/answer_form', question: question, answer: @answer %>
                                                </div>
                                          </div>
                                        </div>


                                      <% end %>
                                    </div>
                                 
                                </h5>
                          </div>

                      </div>
                  </div>

              </div>
          </div>
          <!--/row-->
        </div>

    <% end %>
  </div>
>>>>>>> 5a8b831031f5022ca9936919360087b3a6b07621
