<% width = 400 %>

<div style="display: flex; flex-direction: column; margin-top: 10px; margin-bottom: 26px">
  <div class="terrain-holder">
    <div class="terrain-box" style="width: <%= (width * (@resort.beginner.to_f / 100)).round %>px; font-weight: 500;"><%= @resort.beginner if @resort.beginner > 0 %><%= '%' if @resort.beginner > 0 %></div>
    <div class="terrain-box" style="width: <%= (width * (@resort.intermediate.to_f / 100)).round %>px; font-weight: 500;"><%= @resort.intermediate if @resort.intermediate > 0 %><%= '%' if @resort.intermediate > 0 %></div>
    <div class="terrain-box" style="width: <%= (width * (@resort.advanced.to_f / 100)).round %>px; font-weight: 500;"><%= @resort.advanced if @resort.advanced > 0 %><%= '%' if @resort.advanced > 0 %></div>
  </div>
  <div class="terrain-holder">
    <div class="terrain-box" id="beginner" style="width: <%= (width * (@resort.beginner.to_f / 100)).round %>px"></div>
    <div class="terrain-box" id="intermediate" style="width: <%= (width * (@resort.intermediate.to_f / 100)).round %>px"></div>
    <div class="terrain-box" id="advanced" style="width: <%= (width * (@resort.advanced.to_f / 100)).round %>px"></div>
  </div>
  <div class="terrain-holder">
    <div class="terrain-box" style="width: <%= (width * (@resort.beginner.to_f / 100)).round %>px"><%= 'BEGINNER' if @resort.beginner > 0 %></div>
    <div class="terrain-box" style="width: <%= (width * (@resort.intermediate.to_f / 100)).round %>px"><%= 'INTERMEDIATE' if @resort.intermediate > 0 %></div>
    <div class="terrain-box" style="width: <%= (width * (@resort.advanced.to_f / 100)).round %>px"><%= 'ADVANCED' if @resort.advanced > 0 %></div>
  </div>
</div>
