<table class="terrain-table">
  <thead>
    <tr>
      <td scope="col" id="beg" width="<%= @resort.beginner %>%"><%= @resort.beginner %>%</td>
      <td scope="col" id="int" width="<%= @resort.intermediate %>%"><%= @resort.intermediate %>%</td>
      <td scope="col" id="adv" width="<%= @resort.advanced %>%"><%= @resort.advanced %>%</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="beg-label">Beginner</td>
      <td id="int-label">Intermediate</td>
      <td id="adv-label">Advanced</td>
    </tr>
  </tbody>
</table>

<!-- <div class="resort-info-items" >
  <div class="resort-summary-card" id="beginner">
    <h3>Beginner</h3>
    <p><%= @resort.beginner %></p>
  </div>

  <div class="resort-summary-card" id="intermediate">
    <h3>Intermediate</h3>
    <p><%= @resort.intermediate %></p>
  </div>

  <div class="resort-summary-card" id="advanced">
    <h3>Advanced</h3>
    <p><%= @resort.advanced %></p>
  </div>
</div> -->
