<table class="terrain-table">
  <thead>
    <tr>
      <td scope="col" id="beg" width="<%= @resort.beginner %>%"><%= @resort.beginner %>%</td>
      <td scope="col" id="int" width="<%= @resort.intermediate %>%"><%= @resort.intermediate %>%</td>
      <td scope="col" id="adv" width="<%= @resort.advanced %>%"><%= @resort.advanced %>%</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="beg-label">Beginner</td>
      <td id="int-label">Intermediate</td>
      <td id="adv-label">Advanced</td>
    </tr>
  </tbody>
</table>
