<div id="map-container" data-controller="maps">

  <div class="sidebar">
    <div class="resort-counter">
      <span data-target="maps.counter" id="resort-counter-number"></span>
      <strong>Resorts Shown</strong>
    </div>

    <div class="condition-key">
      <strong>Conditions</strong>
      <!-- <div class="conditions-holder"> -->
        <div class="condition-line">
          <div class="condition-key-marker great" style="pointer-events:none"></div>
            <h2>Powder Day</h2>
            <small>Over 10cm of snow</small>
        </div>
        <div class="condition-line">
          <div class="condition-key-marker good" style="pointer-events:none"></div>
          <h2 >Fresh Snow</h2>
          <small>Up to 10 cm of new snow</small>
        </div>
        <div class="condition-line">
          <div class="condition-key-marker average" style="pointer-events:none"></div>
          <h2>Decent</h2>
          <small>No new snow</small>
        </div>
        <div class="condition-line" id="last" >
          <div class="condition-key-marker bad" style="pointer-events:none"></div>
          <h2 >Bad</h2>
          <small>Either raining or not enough snow</small>
        </div>
      <!-- </div> -->
    </div>
  </div>

  <div id="map-buttons-holder">
    <div class="map-button selected" data-action="click->maps#filter click->maps#select" data-value="">All resorts</i></div>
    <div class="map-button" data-action="click->maps#filter click->maps#select" data-value="best=true"><%= '<i class="far fa-snowflake"></i>&nbsp&nbspToday`s Best'.html_safe %> </div>
<!--     <div class="map-button" data-action="click->maps#filter click->maps#select" data-value="new_snow=true"><i class="far fa-snowflake"></i>&nbsp&nbspFresh powder</div>
    <div class="map-button" data-action="click->maps#filter click->maps#select" data-value="lots_snow=true"><i class="far fa-snowflake"></i>&nbsp&nbspDeep snow</div> -->
    <div class="map-button" data-action="click->maps#filter click->maps#select" data-value="favorites=true"><%= '<i class="fas fa-heart"></i>&nbsp&nbspFavorites'.html_safe %> </div>
    <div class="map-button" data-action="click->maps#exposeSlider click->maps#filter" id="time-machine-button"><%= '<i class="fas fa-filter"></i>&nbsp&nbspFilters'.html_safe %> </div>
  </div>


  <div id="map-slider-holder">
    <div id="map-slider-holder-inside">

      <div class="range">
        <input data-target="maps.slider" data-action="change->maps#changeDay" type="range" min="0" max="3" steps="1" value="0" id='slider'>
        <div class="day-labels">
          <div class="day active">Today</div>
          <div class="day"><%= (Time.now + 1.day).strftime("%A") %></div>
          <div class="day"><%= (Time.now + 2.day).strftime("%A") %></div>
          <div class="day"><%= (Time.now + 3.day).strftime("%A") %></div>
        </div>
      </div>

      <div class="form-check form-check-inline" id="form-check-row">
        <div>
          <input class="form-check-input" data-action="change->maps#newFilter" type="checkbox" value="average" id="averageCheck">
          <label class="form-check-label" for="averageCheck">Decent</label>
        </div>
        <div>
          <input class="form-check-input" data-action="change->maps#newFilter" type="checkbox" value="good" id="goodCheck">
          <label class="form-check-label" for="goodCheck">Fresh Snow</label>
        </div>
        <div>
          <input class="form-check-input" data-action="change->maps#newFilter" type="checkbox" value="great" id="greatCheck">
          <label class="form-check-label" for="greatCheck">Powder Day</label>
        </div>
      </div>

    </div>
  </div>

  <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<!--
<form>
  <div class="form-group">
    <div class="form-group">
      <label for="formControlRange">Example Range input</label>
      <input type="range" min="0" max="3" steps="1" value="0" class="form-control-range" id="formControlRange">
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" value="great" id="defaultCheck1">
      <label class="form-check-label" for="defaultCheck1">
        Great
      </label>
      <input class="form-check-input" type="checkbox" value="good" id="defaultCheck2">
      <label class="form-check-label" for="defaultCheck1">
        Good
      </label>
      <input class="form-check-input" type="checkbox" value="average" id="defaultCheck3">
      <label class="form-check-label" for="defaultCheck1">
        Average
      </label>
      <input class="form-check-input" type="checkbox" value="bad" id="defaultCheck4">
      <label class="form-check-label" for="defaultCheck1">
        Bad
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" data-action="click->maps#newFilter">Submit</button>
</form> -->

</div>
