<div id="map-container" data-controller="maps">

  <div class="resort-counter">
    <div>Showing</div>
    <span data-target="maps.counter" id="resort-counter-number"></span>
    <div>Resorts</div>
  </div>

  <div class="condition-key">
    <div><strong>Conditions</strong></div>
    <div class="conditions-holder">
      <div class="condition-line"><div class="marker great" style="pointer-events:none"></div>&nbsp&nbspGreat</div>
      <div class="condition-line"><div class="marker good" style="pointer-events:none"></div>&nbsp&nbspGood</div>
      <div class="condition-line"><div class="marker average" style="pointer-events:none"></div>&nbsp&nbspBad</div>
      <div class="condition-line"><div class="marker bad" style="pointer-events:none"></div>&nbsp&nbspBad</div>
    </div>
  </div>

  <div id="map-buttons-holder">
    <div class="map-button selected" data-action="click->maps#filter click->maps#select" data-value="">All resorts</i></div>
    <div class="map-button" data-action="click->maps#filter click->maps#select" data-value="new_snow=true"><i class="far fa-snowflake"></i>&nbsp&nbspFresh powder</div>
    <div class="map-button" data-action="click->maps#filter click->maps#select" data-value="lots_snow=true"><i class="far fa-snowflake"></i>&nbsp&nbspDeep snow</div>
    <div class="map-button" data-action="click->maps#filter click->maps#select" data-value="favorites=true"><i class="fas fa-heart"></i>&nbsp&nbspFavorites</div>
    <div class="map-button" data-action="click->maps#timeMachine" data-value="favorites=true" id="time-machine-button"><i class="fas fa-clock"></i>&nbsp&nbspForecasts</div>
  </div>


  <div id="map-slider-holder">
    <div class="range">
      <input data-target="maps.slider" data-action="change->maps#displayDay" type="range" min="0" max="3" steps="1" value="0" id='slider'>
      <div class="day-labels">
        <% daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %>
        <div class="day active">Today</div>
        <div class="day"><%= daysOfWeek[(Time.now.wday + 1 )] %></div>
        <div class="day"><%= daysOfWeek[(Time.now.wday + 2 )] %></div>
        <div class="day"><%= daysOfWeek[(Time.now.wday + 3 )] %></div>
      </div>
    </div>
  </div>

  <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
