<div class="container col-9">

  <div class="resort-show-banner">

    <div class="space-holder"></div>

    <div class="resort-names">
      <div class="resort-name"><%= @resort.name.titlecase %></div>
      <div class="resort-name-ja"><%= @resort.name_ja %></div>
    </div>

    <div class="icon-holder">
      <% favorited = current_user.resorts.include?(@resort) %>
      <div><i data-controller="popup" data-target="popup.heart" class="fas fa-heart button-favorite <%= favorited ? 'red' : '' %>" id="heart" style="text-decoration:none" data-action="click->popup#favorite" data-value="<%= @resort.id %>" data-favorited="<%= favorited %>"></i></div>
      <div id="share"><%= link_to "<i class='fas fa-share-alt'></i>".html_safe, share_path, id: "share" %></div>
    </div>

  </div>

<!-- Displaying the weather overview cards, good, bad etc. -->
<div class="summary-items">
  <%= render 'resorts/forecast_overview', resort: @resort %>
</div>



<!-- This is the first bootstrap row contains everything below the banner image -->

  <div class="row">

<!-- This is the left side of the show page -->

    <div class="col" id="show-left-side">
      <div class="resort-info-block">
        <div class="resort-info-header">OVERVIEW</div>
        <div class="resort-info-body">
          <div class="resort-info-items">
            <%= render 'resorts/resort_overview', resort: @resort %>
          </div>
        </div>
      </div>

      <div class="resort-info-block">
        <div class="resort-info-header">ELEVATION</div>
        <div class="resort-info-body">
          <%= render 'resorts/elevation', resort: @resort %>
        </div>
      </div>

      <div class="resort-info-block">
        <div class="resort-info-header">TERRAIN</div>
        <div class="resort-info-body">
          <%= render 'resorts/terrain', resort: @resort %>
        </div>
      </div>


      <div class="resort-info-block">
        <div class="resort-info-header">TICKETS</div>
        <div class="resort-info-body">
          <p>Adult: ¥<%= @resort.adult_price %></p>
          <p>Child: ¥<%= @resort.child_price %></p>
        </div>
      </div>

      <div class="resort-info-block">
        <div class="resort-info-header">FACILITIES</div>
        <div class="resort-info-body">
          <% if @resort.ski_school %>
            <p><i class="fas fa-skiing"></i> Ski School</p>
          <% end %>
          <% if @resort.sb_school %>
            <p><i class="fas fa-snowboarding"></i> Snowboard School</p>
          <% end %>
          <% if @resort.child_care %>
            <p><i class="fas fa-child"></i> Child Care</p>
          <% end %>
        </div>
      </div>

<!-- This is the end of the left column -->

    </div>

<!-- This is the right side of the show page -->

    <div class="col" id="show-right-side">

      <div class="resort-info-block">
        <div class="resort-info-header">RESORT INFORMATION</div>
          <div class="resort-info-body">
          <p>Prefecture: <%= @resort.prefecture %></p>
          <p>Town: <%= @resort.town %></p>
          <p><%= link_to "Official site", "#{@resort.url}", target: :_blank  %> <i class="fas fa-external-link-alt"></i></p>
          <div class="resort-info-body">
          </div>
        </div>
      </div>


<!--       <div class="resort-info-block">
        <div class="resort-info-header">WEATHER DATA</div>
        <div class="resort-info-body">
          <%#= render 'resorts/forecast_table', resort: @resort %>
        </div>
      </div> -->

<!-- This is the end of the right column -->
    </div>

<!-- This is the end of the first bootstrap row -->
  </div>

<!-- This is the Q&A on its own bootstrap row and in one column -->

  <div class="row">

    <div class="col">

      <div class="resort-info-block">
        <div class="resort-info-header">Q&A</div>
        <div class="resort-info-body">
          <div id="questions_answers">
            <% if @resort.questions.blank? %>
              <h5> Be the first to ask a question for <%= @resort.name %> </h5>
              <%= render 'questions/question_form', resort: @resort, question: @question %>
            <% else %>
              <%= render 'resorts/q&a', resort: @resort, question: @question, answer: @answer %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>

<!-- This is the end of the Q&A -->

<!-- End of container -->

</div>





