<div class="container col-9">

  <div class="resort-show-banner">

    <div class="resort-names">
      <div class="resort-name"><%= @resort.name.titlecase %></div>
      <div class="resort-name-ja"><%= @resort.name_ja %></div>
    </div>

    <div class="icon-holder">
      <% favorited = current_user.resorts.include?(@resort) %>
      <div><i data-controller="popup" data-target="popup.heart" class="fas fa-heart button-favorite <%= favorited ? 'red' : '' %>" id="heart" style="text-decoration:none" data-action="click->popup#favorite" data-value="<%= @resort.id %>" data-favorited="<%= favorited %>"></i></div>
      <div id="share"><%= link_to "<i class='fas fa-share-alt'></i>".html_safe, share_path, id: "share" %></div>
    </div>

  </div>

  <div class="row">
    <div class="col" id="show-left-side">

      <div class="resort-info-block">
        <div class="resort-info-header">ELEVATION</div>
        <div class="resort-info-body">
          <%= render 'resorts/elevation', resort: @resort %>
        </div>
      </div>

      <div class="resort-info-block">
        <div class="resort-info-header">TERRAIN</div>
        <div class="resort-info-body">
          <%= render 'resorts/terrain', resort: @resort %>
        </div>
      </div>

      <div class="resort-info-block">
        <div class="resort-info-header">OVERVIEW</div>
        <div class="resort-info-body"></div>
      </div>

      <div class="resort-info-block">
        <div class="resort-info-header">TICKETS</div>
        <div class="resort-info-body"></div>
      </div>

      <div class="resort-info-block">
        <div class="resort-info-header">FACILITIES</div>
        <div class="resort-info-body"></div>
      </div>

    </div>

    <div class="col" id="show-right-side">
      <div class="resort-info-block">
        <div class="resort-info-header">WEATHER</div>
        <div class="resort-info-body"></div>
      </div>
    </div>
  </div>

  <div class="resort-show-info">

    <div class="resort-show-info-left">
    </div>

    <div class="resort-show-info-right">
    </div>
<!-- End of container -->
  </div>
<!-- End of container -->
</div>


      <div class="resort-info-card">
        <div class="resort-info-header"><h2>OVERVIEW</h2></div>
        <p><%= @resort.season_planned %></p>
        <p>Prefecture: <%= @resort.prefecture %></p>
        <p>Town: <%= @resort.town %></p>
      </div>
      <div class="resort-info-card">
        <div class="resort-info-header"><h2>TICKETS</h2></div>
        <p>Adult: ¥<%= @resort.adult_price %></p>
        <p>Child: ¥<%= @resort.child_price %></p>
        <p><%= link_to "Buy Ticket", ticket_path %> </p>
      </div>
      <div class="resort-info-card">
        <div class="resort-info-header"><h2>FACILITIES</h2></div>
        <% if @resort.ski_school == true %>
          <p>Ski school available</p>
        <% else %>
          <p>No ski school</p>
        <% end %>
        <% if @resort.sb_school == true %>
          <p>Snowboard school available</p>
        <% else %>
          <p>No snowboard school</p>
        <% end %>
      </div>
      <div class="resort-info-card">
        <div class="resort-info-header"><h2>RESORT Q&A</h2></div>
      </div>
    </div>
    <div class="weather">
      <div class="resort-info-header"><h2>WEATHER</h2></div>
      <div class="weather-overview">
        <%= render 'resorts/forecast_overview', resort: @resort %>
      </div>
      <div class="weather-table">
        <%= render 'resorts/forecast_table', resort: @resort %>
      </div>
    </div>
  </div>
