<div class="container col-9">

  <div class="resort-show-banner">

    <div class="space-holder"></div>

    <div class="resort-names">
      <div class="resort-name"><%= @resort.name.titlecase %></div>
      <div class="resort-name-ja"><%= @resort.name_ja %></div>
    </div>

    <div class="icon-holder">
      <% favorited = current_user.resorts.include?(@resort) %>
      <div><i data-controller="popup" data-target="popup.heart" class="fas fa-heart button-favorite <%= favorited ? 'red' : '' %>" id="heart" style="text-decoration:none" data-action="click->popup#favorite" data-value="<%= @resort.id %>" data-favorited="<%= favorited %>"></i></div>
      <div id="share"><%= link_to "<i class='fas fa-share-alt'></i>".html_safe, share_path, id: "share" %></div>
    </div>

  </div>

    <div style="padding: 4px 0px; display: flex; justify-content: center; align-items: center; font-size: 10px; color: #4A4A4A">
      <%= @resort.town %>,&nbsp<%= @resort.prefecture %>&nbsp|&nbsp
      <%= @resort.phone_number %>&nbsp|&nbsp
      <%= link_to "Official site&nbsp<i class='fas fa-external-link-alt'>".html_safe, "#{@resort.url}", target: :_blank, style: "text-decoration:none"  %></i>
    </div>

<!-- Displaying the weather overview cards, good, bad etc. -->
<div class="summary-items">
  <%= render 'resorts/forecast_overview', resort: @resort %>
</div>



<!-- This is the first bootstrap row contains everything below the banner image -->

  <div class="row">

<!-- This is the left side of the show page -->

    <div class="col" id="show-left-side">
      <div class="resort-info-block">
        <div class="resort-info-header">OVERVIEW</div>
        <div style="font-size: 12px; color: #4A4A4A; margin: 20px 20px 0px 20px; ">
          <%= @resort.name %> resort in <%= @resort.town %>, <%= @resort.prefecture %> prefecture has a planned season from <%= @resort.season_planned.gsub('Planned season: ','') %>.
        </div>
        <div class="resort-info-body">
          <div class="resort-info-items">
            <%= render 'resorts/resort_overview', resort: @resort %>
          </div>
        </div>
      </div>

      <div class="resort-info-block">
        <div class="resort-info-header">ELEVATION</div>
        <div class="resort-info-body">
          <%= render 'resorts/elevation', resort: @resort %>
        </div>
      </div>

      <div class="resort-info-block">
        <div class="resort-info-header">TICKET PRICES</div>
        <div class="resort-info-body">
          <%= render 'resorts/ticket_prices', resort: @resort %>
        </div>
      </div>

      <div class="resort-info-block">
        <div class="resort-info-header">FACILITIES</div>
          <div class="resort-info-body">
            <div class="resort-info-items">
            <%= render 'resorts/facilities', resort: @resort %>
            </div>
          </div>
      </div>

<!-- This is the end of the left column -->

    </div>

<!-- This is the right side of the show page -->

    <div class="col" id="show-right-side">

      <div class="resort-info-block">
        <div class="resort-info-header">TERRAIN DIFFICULTY</div>
        <div class="resort-info-body">
          <%= render 'resorts/terrain', resort: @resort %>
        </div>
      </div>

      <div class="resort-info-block">
        <div class="resort-info-header">GETTING THERE</div>
          <div class="resort-info-body" style="padding: 20px">
          <%= render 'resorts/directions', resort: @resort %>
          </div>
        </div>
      </div>


<!--       <div class="resort-info-block">
        <div class="resort-info-header">WEATHER DATA</div>
        <div class="resort-info-body">
          <%#= render 'resorts/forecast_table', resort: @resort %>
        </div>
      </div> -->

<!-- This is the end of the right column -->
    </div>

<!-- This is the end of the first bootstrap row -->
  </div>

<!-- This is the Q&A on its own bootstrap row and in one column -->

  <div class="row">

    <div class="container col-6">

      <div class="resort-info-block">
        <div class="resort-info-header">Q&A</div>
        <div class="resort-info-body">
          <div id="questions_answers">
            <% if @resort.questions.blank? %>
              <h5> Be the first to ask a question for <%= @resort.name %> </h5>
              <%= render 'questions/question_form', resort: @resort, question: @question %>
            <% else %>
              <%= render 'resorts/q&a', resort: @resort, question: @question, answer: @answer %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>

<!-- This is the end of the Q&A -->

<!-- End of container -->

</div>





